<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Blockly Demo: Generating JavaScript</title>
    <!--
    <script src="./node_modules/blockly/blockly_compressed.js"></script>
    <script src="./node_modules/blockly/blocks_compressed.js"></script>
    <script src="./node_modules/blockly/javascript_compressed.js"></script>
    <script src="./node_modules/blockly/msg/en.js"></script>
    -->
    <script src="https://cdn.jsdelivr.net/npm/blockly@10.1.2/blockly_compressed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/blockly@10.1.2/blocks_compressed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/blockly@10.1.2/javascript_compressed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/blockly@10.1.2/python_compressed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/blockly@10.1.2/msg/en.js"></script>

    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.7/require.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

    <!-- 自作ブロックの定義 -->
    <script src="/static/piblock.js"></script>
    <script src="/static/piblock_block.js"> </script>

    <script>
	const socket = io();

	socket.on("output", (data) => {
            console.log(data);
        });
    </script>

    <style>
      body {
        background-color: #fff;
        font-family: sans-serif;
      }
      h1 {
        font-weight: normal;
        font-size: 140%;
      }
      pre {
        background-color: #111;
        color: #0f0;
        padding: 10px;
        border-radius: 4px;
        overflow-y: auto;
        margin-top: 10px;
        white-space: pre-wrap;
      }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <p>
      The Hatchbox
    </p>
    <div id="pageContainer">
      <div id="consoleDiv">
        <p>
          <button onclick="showCode()">Show Python Code</button>
          <!--button onclick="run_python()">Run on Rpi test mode</button-->
          <button onclick="sendCode()">Run on Rpi</button>
          <button onclick="terminateCode()">Terminate</button>
	</p>
	<p>
          <button onclick="saveBlock()">Save Block</button>
          <button onclick="loadBlock()">Open Block</button>
        </p>
        <p>
          <button onclick="ConnJoyCon()"> Register JoyCon</button>
          <button onclick="getPaired()"> Paired Devices</button>
          <ul id="paired-list"></ul>
        </p>
        <h3>Console Output:</h3>
	<pre id="output">(Console will appear here...)</pre>
      </div>
      <div id="blocklyDiv"></div>
    </div>

    <script>
      var toolbox = {
        kind: 'categoryToolbox',
        contents: [
          {
            kind: 'category',
            name: 'Logic',
            categorystyle: 'logic_category',
            contents: [
              {
                kind: 'block',
                type: 'controls_if',
              },
              {
                kind: 'block',
                type: 'logic_compare',
              },
              {
                kind: 'block',
                type: 'logic_operation',
              },
              {
                kind: 'block',
                type: 'logic_negate',
              },
              {
                kind: 'block',
                type: 'logic_boolean',
              },
	      {
		kind: 'block',
		type: 'logic_null',
	      },
	      {
		kind: 'block',
		type: 'logic_ternary',
	      },
	      {
		kind: 'block',
		type: 'class4logic',
	      },
            ],
          },
          {
            kind: 'category',
            name: 'Loops',
            categorystyle: 'loop_category',
            contents: [
              {
                kind: 'block',
                type: 'controls_repeat_ext',
                inputs: {
                  TIMES: {
                    block: {
                      type: 'math_number',
                      fields: {
                        NUM: 10,
                      },
                    },
                  },
                },
              },
              {
                kind: 'block',
                type: 'controls_whileUntil',
              },
              {
                kind: 'block',
                type: 'controls_for',
                inputs: {
                  FROM: {
                    block: {
                      type: 'math_number',
                      fields: {
                        NUM: 1
                      },
                    },
                  },
                  TO: {
                    block: {
                      type: 'math_number',
                      fields: {
                        NUM: 10
                      },
                    },
                  },
                  BY: {
                    block: {
                      type: 'math_number',
                      fields: {
                        NUM: 1
                      },
                    },
                  },
                },
              },
	      {
		kind: 'block',
		type: 'controls_forEach',
	      },
              {
                kind: 'block',
                type: 'controls_flow_statements'
              },
            ],
          },
          {
            kind: 'category',
            name: 'Math',
            categorystyle: 'math_category',
            contents: [
              {
                kind: 'block',
                type: 'math_number',
                fields: {
                  NUM: 123,
                },
              },
              {
                kind: 'block',
                type: 'math_arithmetic',
              },
              {
                kind: 'block',
                type: 'math_single',
              },
              {
                kind: 'block',
                type: 'math_round',
                inputs: {
                  NUM: {
                    block: {
                      type: 'math_number',
                      fields: {
                        NUM: 3.14
                      },
                    },
                  },
                }
              },
              {
                kind: 'block',
                type: 'math_modulo',
                inputs: {
                  DIVIDEND: {
                    block: {
                      type: 'math_number',
                      fields: {
                        NUM: 64
                      },
                    },
                  },
                  DIVISOR: {
                    block: {
                      type: 'math_number',
                      fields: {
                        NUM: 10
                      },
                    },
                  },
                },
              },
              {
                kind: 'block',
                type: 'math_random_int',
                inputs: {
                  FROM: {
                    block: {
                      type: 'math_number',
                      fields: {
                        NUM: 1
                      },
                    },
                  },
                  TO: {
                    block: {
                      type: 'math_number',
                      fields: {
                        NUM: 100
                      },
                    },
                  },
                },
              },
            ],
          },
          {
            kind: 'category',
            name: 'Text',
            categorystyle: 'text_category',
            contents: [
              {
                kind: 'block',
                type: 'text',
              },
              {
                kind: 'block',
                type: 'text_length',
              },
              {
                kind: 'block',
                type: 'text_print',
              },
	      {
		kind: 'block',
		type: 'typeof_var',
	      },
            ],
          },
	  {
	    kind: 'category',
	    name: 'Lists',
	    categorystyle: 'list_category',
	    contents: [
	      {
		kind: 'block',
		type: 'lists_create_with',
	      },
	      {
          	kind: 'block',
          	type: 'lists_repeat',
          	inputs: {
            	  NUM: {
              	    shadow: {
                      type: 'math_number',
                      fields: {
                  	NUM: 5,
                      },
                    },
                  },
                },
              },
	      {
		kind: 'block',
		type: 'lists_length',
	      },
	      {
		kind: 'block',
		type: 'lists_sort',
	      },
	      {
		kind: 'block',
		type: 'lists_reverse',
	      },
	      {
		kind: 'block',
		type: 'get_listelem',
	      },
	    ],
	  },
	  {
	    kind: 'category',
	    name: 'Excutables',
	    categorystyle: 'text_category',
	    contents: [
	      {
		kind: 'block',
		type: 'text_print',
	      },
	      {
		kind: 'block',
		type: 'sleep'
	      },
	      {
		kind: 'block',
		type: 'do_nothing',
	      },
	    ],
	  },
          {
            kind: 'category',
            name: 'Variables',
            categorystyle: 'variable_category',
            custom: 'VARIABLE',
          },
	  {
	    kind: 'category',
      	    name: 'Functions',
            categorystyle: 'procedure_category',
            custom: 'PROCEDURE',
	  },
          {
            kind: 'category',
            name: 'RPi',
            categorystyle: 'text_category',
            contents: [
	      {
                kind: 'block',
		type: 'gpio_out_ctl',
	      },
	      {
		kind: 'block',
		type: 'gpio_set_read',
	      },
	      {
		kind: 'block',
		type: 'gpio_read_status',
	      },
	      {
		kind: 'block',
		type: 'gpio_pwm_ctl',
	      },
	      {
		kind: 'block',
		type: 'gpio_servo_ctl',
	      },
            ],
          },
	  {
	    kind: 'category',
	    name: 'JoyCon',
	    categorystyle: 'text_category',
	    contents: [
	      {
		kind: 'block',
		type: 'my_PiController',
	      },
	      {
		kind: 'block',
		type: 'cmd_distributor',
	      },
	      {
		kind: 'block',
		type: 'button_handler_joyconR',
	      },
	      {
		kind: 'block',
		type: 'buton_handler_joyconL',
	      },
	      {
		kind: 'block',
		type: 'button_value',
	      },
	      {
		kind: 'block',
		type: 'joystick_value',
	      },
	    ],
	  },
        ],
      };

      var demoWorkspace = Blockly.inject('blocklyDiv', {
//        media: './node_modules/blockly/media/',
        toolbox: toolbox,
      });

      var startBlocks = {
        blocks: {
          languageVersion: 0,
          blocks: [
            {
              type: 'text_print',
	      inputs: {
		TEXT: {
		  block: {
		    type: 'text',
		    fields: {
		      TEXT: "Hello World!",
		    },
		  },
		},
	      },
            },
          ],
        },
      };
      Blockly.serialization.workspaces.load(startBlocks, demoWorkspace);

      function showCode() {
        // Generate JavaScript code and display it.
	python.pythonGenerator.INFINITE_LOOP_TRAP = null;
	  var code =
	    python.pythonGenerator.workspaceToCode(demoWorkspace);
        alert(code);
      }

      function run_python() {
	python.pythonGenerator.INFINITE_LOOP_TRAP = null;
	var code =
	  python.pythonGenerator.workspaceToCode(demoWorkspace);
	console.log(code);
	fetch(`/jsonrpi`, {
          method: 'POST',
	  headers: {
                        'Content-Type': 'application/json'
                    },
	  body: JSON.stringify(code)
          })
	  .then(response => response.text())
	  .then(data => console.log(data))
      }

        function sendCode() {
            	python.pythonGenerator.INFINITE_LOOP_TRAP = null;
		var code =
          	  python.pythonGenerator.workspaceToCode(demoWorkspace);
		socket.emit('run_code', code);
        }

	socket.on("output", (data) => {
		const outputElem = document.getElementById("output");
    		outputElem.textContent += data.message + "\n";
    		outputElem.scrollTop = outputElem.scrollHeight;  // auto-scroll
  	});

	function terminateCode() {
    		socket.emit("stop_code");
	}

      async function saveBlock(){
        const opts = {
          suggestedName: 'example',
          types: [{
            description: 'Text file',
            accept: {'text/plain': ['.txt']},
          }],
        };
        const data = Blockly.serialization.workspaces.save(demoWorkspace);
        console.log(JSON.stringify(data))
        const handle = await window.showSaveFilePicker(opts);
        const writable = await handle.createWritable()
        await writable.write(JSON.stringify(data))
        await writable.close()
      }

      async function loadBlock(){
        const [handle] = await window.showOpenFilePicker({
          types: [{
            description: 'Text file',
            accept: {
              'text/plain*': [
                '.txt'
              ]
            }
          }]
        })
        const file = await handle.getFile();
        const text = await file.text();
        console.log(text)
        Blockly.Events.disable();
        Blockly.serialization.workspaces.load(JSON.parse(text), demoWorkspace);
        Blockly.Events.enable();
      }

      async function getPaired() {
        const res = await fetch("/paired");
        const devices = await res.json();
        const list = document.getElementById("paired-list");
        list.innerHTML = "";

        devices.forEach(device => {
        const item = document.createElement("li");
        item.textContent = `${device.name} [${device.mac}] `;

        const connectBtn = document.createElement("button");
        connectBtn.textContent = "接続";
        connectBtn.onclick = () => connect(device.mac);
        item.appendChild(connectBtn);

        const disconnectBtn = document.createElement("button");
        disconnectBtn.textContent = "切断";
        disconnectBtn.onclick = () => disconnect(device.mac);
        item.appendChild(disconnectBtn);

        const removeBtn = document.createElement("button");
        removeBtn.textContent = "削除";
        removeBtn.onclick = () => remove(device.mac);
        item.appendChild(removeBtn);

        list.appendChild(item);
        });
      }


      async function ConnJoyCon() {
	alert('make Joy-Con stand-by mode');
	const outputElem = document.getElementById("output");
	outputElem.textContent += "\n" + "scannning Joy-Con... ";
	const res = await fetch("/scan-connect", {
	  method: "POST",
	  headers: { "Content-Type": "application/json"},
	});
	const result = await res.json();
	console.log(result.result || result.error);
	outputElem.textContent += result.result || result.error;
	outputElem.scrollTop = outputElem.scrollHeight;
      }

      async function connect(mac) {
	alert('make device stand-by mode');
        const outputElem = document.getElementById("output");
	outputElem.textContent += "\n" + "scanning Joy-Con... ";
	const res = await fetch("/connect", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ mac: mac })
        });
        const result = await res.json();
        console.log(result.result || result.error);
	outputElem.textContent += result.result || result.error;
	outputElem.scrollTop = outputElem.scrollHeight;
      }

      async function disconnect(mac) {
        const res = await fetch("/disconnect", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ mac: mac })
        });
        const result = await res.json();
        console.log(result.result || result.error);
	const outputElem = document.getElementById("output");
	outputElem.textContent += result.result || result.error;
	outputElem.scrollTop = outputElem.scrollHeight;
      }

      async function remove(mac) {
        const res = await fetch("/remove", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ mac: mac })
        });
        const result = await res.json();
        console.log(result.result || result.error);
        const outputElem = document.getElementById("output");
	outputElem.textContent += result.result || result.error;
	outputElem.scrollTop = outputElem.scrollHeight;
        getPaired(); // リストを更新
      }

    </script>
  </body>
</html>
